---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="#Contact" class="button special">contact</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>About me</h2>
								<p>I am a developer with more than 6 years of experience. I have been part of multiple teams developing highly scalable web applications.
								   I love coding and I work on a few hobby projects. Outside of development, I love distance running, swimming and reading.
								</p>
							</header>
							<ul class="icons">
								{% for socloc in site.social %}
								{% if socloc[1] %}
								{% if socloc[0] == 'email' %}
								<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o major"
											 ><span class="label">E-mail</span></a></li>
								{% else %}
								<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} major"
											 ><span class="label">{{ socloc[0] }}</span></a></li>
								{% endif %}
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Projects</h2>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
								  <a href = "https://github.com/nikhilkuria/xmlGraph" target="_blank"><h3>graphXML</h3></a>
									<p>Library to transform xml documents to neo4j graph objects. Graph Objects can be traversed or sarched using Cypher</p>
								</li>
								<li class="icon fa-laptop">
									<a href = "https://github.com/nikhilkuria/MarkupHydra" target="_blank"><h3>Markup Hydra</h3><a>
									<p>Library to easily create markup scripts. Can be used to easily create HTML and XML output reports.</p>
								</li>
								<li class="icon fa-asterisk">
									<a href = "https://github.com/nikhilkuria/gists" target="_blank"><h3>neo4j Graph Gists</h3></a>
									<p>neo4j scripts to generate graph database of family trees. Currently implemented for Marquez's Buendia Family and the Gandhi family.</p>
								</li>
								<li class="icon fa-bullseye">
									<h3>Nike Visualization</h3>
									<p>Javascript framework to create rich component out of your Nike training data</p>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Blog</h2>
								<p>I use my Wordpress Blog as a cheat sheet and cookbook.I blog about Git, Java, Algorithms among many other things
							</br>Feel free to put in your rants and suggestions in the comments</p>
							</header>
							<ul class="actions vertical">
								<li><a href="{{site.wordpress}}" class="button fit special">Visit</a></li>
							</ul>
						</div>
					</section>

					<a name ="Contact">
					<!-- Marker -->
					</a>
					<section id="one" class="wrapper style2 special">
						<div class="inner">
							<header>
								<h2>Contact</h2>
								<p>You can drop me an email at nikhilkuria@gmail.com
								</br>You can also mention or DM me on <a href="{{site.social.twitter}}">Twitter</a>.
								</br> Or you can send me an inMail on <a href="{{site.social.linkedin}}">linkedIn</a></p>
							</header>
						</div>
					</section>
